<!DOCTYPE html>
<html>
<head>
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <script src="https://d3js.org/d3.v7.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  <title>主界面</title>
  <meta charset="UTF-8">
  <link rel="stylesheet" type="text/css" href="mainpage.css">

</head>
<body>
<div class="context-menu" style="display: none; position: absolute;">
  <div class="context-menu-item">修改</div>
  <div class="context-menu-item">删除</div>
</div>

<div class="container">
  <div class="left-column" id="usrInfo">
    <img :src="pic" alt="个人头像" width="100">
    <p>uid: {{uid}}</p>
    <P>姓名：{{name}}</P>
    <p>Email: {{email}}</p>
    <p style="text-align: center" @click="clickProcess()">申请处理</p>
<!--    TODO:申请处理界面-->
    <p style="text-align: center" @click="clickSetting()">个人设置</p>
<!--      TODO:个人设置界面-->
  </div>
  <div id="graph-container" class="middle-column">

  </div>
  <div id="rightColum" class="right-column">
    <div class="button-container">
      <input type="text" class="search-box" placeholder="UID/手机号/姓名">
      <button onclick="search()">搜索</button>
    </div>
    <div id="searchResult" class="search-result">
      <div v-for="(result,index) in results" :key="result.id" class="result_box" @click="selectResult(index+1)">
        <div class="avatar">
          <img :src="result.img" alt="头像">
        </div>
        <div class="info">
          <div class="top-info">
            <p>姓名：{{result.name}}</p>
            <p>ID：{{result.id}}</p>
          </div>
          <div class="bottom-info">
            <p>邮箱：{{result.email}}</p>
          </div>
        </div>
      </div>
    </div>
    <div class="button-container">
      <button class="add-student" onclick="addStudent()">添加为学生</button>
      <button class="add-teacher" onclick="addTeacher()">添加为老师</button>
    </div>
  </div>
  <div id="process" class="only_reght_column" v-show="showSetting">
    这是申请处理界面
  </div>
  <div id="setting" class="only_reght_column" v-show="showSetting">
    <div>
      <table border="1">
        <tr>
          <td>用户UID:</td>
          <td>{{uid}}</td>
        </tr>
        <tr>
          <td>手机号：</td>
          <td><input type="text" v-model="phone" id="phone" placeholder="Enter new phone number"></td>
        </tr>
        <tr>
          <td>邮箱：</td>
          <td><input type="email" v-model="email" id="email" placeholder="Enter new email address"></td>
        </tr>
        <tr>
          <td>姓名：</td>
          <td><input type="text" v-model="name" id="name" placeholder="Enter new name"></td>
        </tr>
        <tr>
          <td>昵称：</td>
          <td><input type="text" v-model="nickname" id="nickname" placeholder="Enter new nickname"></td>
        </tr>
        <tr>
          <button id="submitBtn" @click="updateUserInfo">提交修改</button>
        </tr>
      </table>
    </div>




    <div>
      <img :src="pic" alt="个人头像" width="100">
      <table border="1">
        <tr>
          <td>上传新头像：</td>
          <td><input type="file" ref="fileInput" @change="uploadAvatar"></td>
        </tr>
      </table>
    </div>

    <div>
      <table border="1">
        <tr>
          <td>原密码</td>
          <td><input type="text" v-model="originPwd" id="originPwd" placeholder="输入原始密码"></td>
        </tr>
        <tr>
          <td>新密码</td>
          <td><input type="text" v-model="newPwd" id="newPwd" placeholder="输入新密码"></td>
        </tr>
        <tr>
          <td>确认新密码</td>
          <td><input type="text" v-model="confirmNewPwd" id="confirmNewPwd" placeholder="确认新密码"></td>
        </tr>
        <tr>
          <button id="submitPwd" @click="updatePwd">提交修改</button>
        </tr>
      </table>

    </div>
  </div>


</div>

<script>

  //----------主界面显示逻辑----------

  let usrInfoVue=new Vue({
    el: "#usrInfo",
    data:{
      type:0,//0-显示tree，1-申请处理，2-个人设置
      uid: "",
      name: "",
      email: "",
      pic: "",
    },
    methods:{
      clickProcess(){
        if(this.type!==1){
          this.type=1;
          processVue.showSetting=true
          settingVue.showSetting=false
          document.getElementById("graph-container").style.display='none';
          document.getElementById("rightColum").style.display='none';

        }
        else {
          this.type=0;
          processVue.showSetting=false
          settingVue.showSetting=false
          document.getElementById("graph-container").style.display='block';
          document.getElementById("rightColum").style.display='block';
        }
      },
      clickSetting(){
        if(this.type!==2){
          this.type=2;
          processVue.showSetting=false
          settingVue.showSetting=true
          document.getElementById("graph-container").style.display='none';
          document.getElementById("rightColum").style.display='none';
        }
        else {
          this.type=0;
          processVue.showSetting=false
          settingVue.showSetting=false
          document.getElementById("graph-container").style.display='block';
          document.getElementById("rightColum").style.display='block';
        }
      }
    },
    created(){
      let jwtToken=sessionStorage.getItem("jwtToken");
      // console.log(jwtToken)
      // 发送GET请求
      axios.get('http://localhost:9090/user/userinfo', {
        headers: {
          'Authorization': jwtToken
        }
      }).then(response => {
        this.uid=response.data.data.uid;
        this.name=response.data.data.name;
        this.email=response.data.data.email;
        this.pic=(response.data.data.usrPic==null||response.data.data.usrPic==="")? "usr_pic/defaultPic.png":response.data.data.usrPic;
      }).catch(error => {
        alert("请登录！");
        window.location.href="login.html";
      });
    }
  })

  function updateUsrInfo(){
    let jwtToken=sessionStorage.getItem("jwtToken");
    // console.log(jwtToken)
    // 发送GET请求
    axios.get('http://localhost:9090/user/userinfo', {
      headers: {
        'Authorization': jwtToken
      }
    }).then(response => {
      usrInfoVue.uid=response.data.data.uid;
      usrInfoVue.name=response.data.data.name;
      usrInfoVue.email=response.data.data.email;
      usrInfoVue.pic=(response.data.data.usrPic==null||response.data.data.usrPic==="")? "usr_pic/defaultPic.png":response.data.data.usrPic;
    }).catch(error => {
      alert("请登录！");
      window.location.href="login.html";
    });
  }

  //----------师承树展示逻辑----------

  // 监听整个文档的点击事件
  d3.select(document).on('click', () => {
    // 隐藏菜单栏
    d3.select('.context-menu').style('display', 'none');
  });


  const r = 30;
  let name = '';

  //管理师承树展示的Vue
  let treeVue = new Vue({
    el: '#graph-container',
    data: {
      me: [{name: '王五'}],
      teachers: [{name: '李四'}],
      students: [{name: '张三'}],
      nodes: [
        {name: '张三'},
        {name: '李四'},
        {name: '王五'},
      ],
      links: [
        {source: '张三', target: '李四'},
        {source: '李四', target: '王五'},
      ]
    },
    mounted() {
      this.drawChart();
    },
    methods: {
      drawChart() {
        const container = document.getElementById('graph-container'); // 获取容器元素
        container.innerHTML = ''; // 清空容器中的所有子元素

        // 获取容器的宽度和高度
        const containerWidth = document.getElementById('graph-container').clientWidth;
        const containerHeight = document.getElementById('graph-container').clientHeight;

        const svg = d3.select('#graph-container')
                .append('svg')
                .attr('width', containerWidth)
                .attr('height', containerHeight);
        // 添加箭头标记的声明
        svg.append('defs')
                .append('marker')
                .attr('id', 'arrow')
                .attr('markerWidth', 8)
                .attr('markerHeight', 8)
                .attr('refX', 8)
                .attr('refY', 3)
                .attr('orient', 'auto')
                .attr('markerUnits', 'strokeWidth')
                .append('path')
                .attr('d', 'M0,0 L0,6 L9,3 z')
                .attr('fill', 'black');


        // 创建一个力导向图布局，设置范围为容器的宽度和高度


        const simulation = d3.forceSimulation(this.nodes)
                .force('link', d3.forceLink(this.links).id(d => d.name))
                .force('charge', d3.forceManyBody().strength(-500 * r))
                .force('center', d3.forceCenter(containerWidth / 2, containerHeight / 2));


        // 创建连接线
        const link = svg.selectAll('.link')
                .data(this.links)
                .enter()
                .append('line')
                .attr('class', 'link')
                .attr('stroke', 'black')
                .attr('stroke-width', 2)
                .attr('marker-end', 'url(#arrow)'); // 使用箭头标记

        // 创建节点
        const node = svg.selectAll('.node')
                .data(this.nodes)
                .enter()
                .append('circle')
                .attr('class', 'node')
                .attr('r', r)
                .attr('fill', 'none') // 设置节点填充色为空
                .attr('stroke', 'black') // 设置节点边框颜色为黑色
                .attr('stroke-width', 2) // 设置节点边框宽度为2
                .style('pointer-events', 'all') // 设置鼠标事件在整个节点区域内生效
                .on('contextmenu', (event, d) => {
                  name = d.name;
                  console.log(name);
                  event.preventDefault();

                  // 显示菜单
                  d3.select('.context-menu')
                          .style('display', 'block')
                          .style('left', event.pageX + 'px')
                          .style('top', event.pageY + 'px');


                });
        //添加文字
        const texts = svg.selectAll("text")
                .data(this.nodes)
                .enter()
                .append("text")
                .style("fill", "black")
                .attr("dx", 0)
                .attr("dy", 0)
                .text(d => d.name);
        // 更新连接线的位置
        simulation.on('tick', () => {

          link
                  .attr('x1', d => cul(d.source.x, d.source.y, r, d.target.x, d.target.y, r)[0])
                  .attr('y1', d => cul(d.source.x, d.source.y, r, d.target.x, d.target.y, r)[1])
                  .attr('x2', d => cul(d.source.x, d.source.y, r, d.target.x, d.target.y, r)[2])
                  .attr('y2', d => cul(d.source.x, d.source.y, r, d.target.x, d.target.y, r)[3]);
          node
                  .attr('cx', d => d.x)
                  .attr('cy', d => d.y);
          texts.attr("x", d => d.x - 10).attr("y", d => d.y + 10);
        });


        // 添加鼠标点击和拖拽功能
        node.call(d3.drag()
                .on('start', (event, d) => {
                  if (!event.active) simulation.alphaTarget(0.3).restart();
                  d.fx = d.x;
                  d.fy = d.y;
                })
                .on('drag', (event, d) => {
                  d.fx = event.x;
                  d.fy = event.y;
                })
                .on('end', (event, d) => {
                  if (!event.active) simulation.alphaTarget(0);
                  d.fx = null;
                  d.fy = null;
                })
        );
      }

    },
    watch: {
      nodes: {
        handler() {
          this.drawChart();
        },
        deep: true
      },
      links: {
        handler() {
          this.drawChart();
        },
        deep: true
      }
    }
  });

  function cul(x1, y1, r1, x2, y2, r2) {

    let dx = x2 - x1;
    let dy = y2 - y1;
    let theta;
    if (dx === 0) {
      theta = dy >= 0 ? 90 : -90;
    } else {
      theta = Math.atan2(dy, dx);
    }
    let sx = x1 + r1 * Math.cos(theta);
    let sy = y1 + r1 * Math.sin(theta);

    dx = x1 - x2;
    dy = y1 - y2;
    if (dx === 0) {
      theta = dy >= 0 ? 90 : -90;
    } else {
      theta = Math.atan2(dy, dx);
    }
    dx = x2 + r2 * Math.cos(theta);
    dy = y2 + r2 * Math.sin(theta);

    return [sx, sy, dx, dy];

  }

  function updateTree(newStudents, newTeachers, me) {

    treeVue.me = me;
    treeVue.students = newStudents;
    treeVue.teachers = newTeachers;
    treeVue.nodes = treeVue.me.concat(treeVue.students, treeVue.teachers);
    let teacherLinks = treeVue.teachers.map(teacher => {
      return {source: teacher.name, target: treeVue.me[0].name};
    });
    let studentLinks = treeVue.students.map(student => {
      return {source: treeVue.me[0].name, target: student.name}
    });
    console.log(teacherLinks)
    console.log(studentLinks)
    treeVue.links = teacherLinks.concat(studentLinks);


  }



  //----------搜索结果展示逻辑----------
  let selectedResult = -1;
  let searchResultVue = new Vue({
    el: '#searchResult',
    data: {
      results: [
        {img: 'usr_pic/defaultPic.png', name: '张三', id: '987654321', email: 'zhangsan@example.com'},
        {img: 'usr_pic/defaultPic.png', name: '李四', id: '123456789', email: 'lisi@example.com'},
      ]
    },
    methods: {
      selectResult(resultNumber) {
        // 取消先前选中的结果样式
        if (selectedResult >= 0) {
          let element = document.querySelector('.result_box.selected');
          if (element) {
            // console.log('成功选择到元素:', element);
            element.classList.remove('selected')
          } else {
            console.log('1未能选择到元素');
          }

        }

        // 标记选中的结果
        selectedResult = resultNumber;
        console.log('选中的结果是：', selectedResult);

        // 添加选中结果的样式

        let elements = document.querySelectorAll('.result_box');
        let element = elements[resultNumber - 1];
        if (element) {
          // console.log('成功选择到元素:', element);
          element.classList.add('selected');
        } else {
          console.log('2未能选择到元素',elements);
        }

      }
    }

  })


  function search() {

    if (selectedResult >= 0) {
      let element = document.querySelector('.result_box.selected');
      if (element) {
        console.log('成功选择到元素:', element);
        element.classList.remove('selected')
      } else {
        console.log('3未能选择到元素');
      }

    }
    selectedResult = -1;
    // 获取输入框元素
    const inputBox = document.querySelector('.search-box');

    // 获取输入框的值
    const searchText = inputBox.value;

    // 判断输入文本是 UID、手机号还是姓名
    if (/^\d{9}$/.test(searchText)) {
      console.log('输入的是 UID' + searchText);
      searchResultVue.results=searchWithUid(searchText);
    } else if (/^\d{11}$/.test(searchText)) {
      console.log('输入的是手机号' + searchText);
      searchResultVue.results=searchWithPNum(searchText);
    } else if (/^[A-Za-z\s\u4e00-\u9fa5]+$/.test(searchText)) {
      console.log('输入的是姓名' + searchText);
      searchResultVue.results=searchWithName(searchText);
    } else {
      console.log('无法识别输入');
    }

  }
  function searchWithUid(uid){
    //TODO:添加具体逻辑
    return [{img: 'touxiang.png', name: '张三', id: '987654321', email: 'zhangsan@example.com'}]
  }
  function searchWithPNum(PNum){
    //TODO:添加具体逻辑
    return [{img: 'touxiang.png', name: '张三', id: '987654321', email: 'zhangsan@example.com'}]
  }
  function searchWithName(Name){
    //TODO:添加具体逻辑
    return [{img: 'touxiang.png', name: '张三', id: '987654321', email: 'zhangsan@example.com'}]
  }


  function addStudent() {
    if (selectedResult < 0) {
      alert("请选择一个人");
      return;
    }
    // 获取选中的结果框
    const selected = document.querySelector('.result_box:nth-child(' + String(selectedResult) + ')');

    // 从结果框中获取 ID
    const idElement = selected.querySelector('.top-info p:nth-child(2)');
    const id = idElement.textContent.split('：')[1];

    console.log('添加学生的 ID 为:', id);

  }

  function addTeacher() {
    if (selectedResult < 0) {
      alert("请选择一个人");
      return;
    }
    // 获取选中的结果框
    const selected = document.querySelector('.result_box:nth-child(' + String(selectedResult) + ')');

    // 从结果框中获取 ID
    const idElement = selected.querySelector('.top-info p:nth-child(2)');
    const id = idElement.textContent.split('：')[1];

    console.log('添加老师的 ID 为:', id);
  }

  //----------个人设置展示逻辑----------
  let settingVue=new Vue({
    el: "#setting",
    data: {
      uid: "",
      phone: "",
      email: "",
      name: "",
      nickname: "",
      pic: "",
      originPwd:"",
      newPwd:"",
      confirmNewPwd:"",
      showSetting: false
    },
    methods: {
      updateUserInfo(){
        let jwtToken=sessionStorage.getItem("jwtToken");
        let userData={
          uid: this.uid,
          name: this.name,
          nickname: this.nickname,
          phone: this.phone,
          email: this.email
        }
        axios.put('http://localhost:9090/user/update',userData,{
          headers:{
            'Authorization': jwtToken,
            'Content-Type': 'application/json'
          }
        }).then((response) =>{
          if(response.data.code===0){
            console.log()
            console.log("成功更新")
            updateUsrInfo();
          }
          else {
            alert(response.data.messages)
          }
        })

      },
      updatePwd(){
        if(this.newPwd!==this.confirmNewPwd){
          alert("两次密码不一致");
          return ;
        }
        let jwtToken=sessionStorage.getItem("jwtToken");
        console.log("更新密码")
        let userData={
          old_pwd:this.originPwd,
          new_pwd:this.newPwd
        }
        axios.patch('http://localhost:9090/user/updatePwd',userData,{
          headers:{
            'Authorization': jwtToken,
            'Content-Type': 'application/json'
          }
        }).then((response) =>{
          if(response.data.code===0){
            console.log("成功更新")
          }
          else {
            alert(response.data.messages)
          }
        })

      },
      uploadAvatar() {
        const formData = new FormData();
        formData.append('avatar', this.$refs.fileInput.files[0]);

        axios.post('http://localhost:9090/user/uploadAvatar', formData, {
          headers: {
            'Content-Type': 'multipart/form-data'
          }
        }).then(response => {
          // 处理上传成功的逻辑
          if(response.data.code===0){
            this.pic = response.data.data;
            //更新用户头像地址
          }
          else {
            alert(response.data.messages);
          }

        }).catch(error => {
          // 处理上传失败的逻辑
          console.error(error);
        });
      }
    }
    },
    created(){
      let jwtToken=sessionStorage.getItem("jwtToken");
      console.log(jwtToken)
      // 发送GET请求
      axios.get('http://localhost:9090/user/userinfo', {
        headers: {
          'Authorization': jwtToken
        }
      }).then(response => {
        this.uid=response.data.data.uid;
        this.phone=response.data.data.phone;
        this.name=response.data.data.name;
        this.email=response.data.data.email;
        this.nickname=response.data.data.nickname;
        this.pic=(response.data.data.usrPic==null||response.data.data.usrPic==="")? "usr_pic/defaultPic.png":response.data.data.usrPic;

      }).catch(error => {
        alert("请登录！");
        window.location.href="login.html";
      });
    }
  })


  //----------处理申请展示逻辑----------
  let processVue=new Vue({
    el:"#process",
    data:{
      showSetting:false
    }
  })
</script>
</body>
</html>